/* css for date-time in form event */
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* css  fullcalendar compnent open-time */
@import "~fullcalendar/dist/fullcalendar.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular.eot');
    src: url('/assets/fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular_1.eot');
    src: url('/assets/fonts/Cabin-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular_1.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('/assets/fonts/Cabin-Regular_2.eot');
    src: url('/assets/fonts/Cabin-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Cabin-Regular_2.woff') format('woff'),
        url('/assets/fonts/Cabin-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Yanone facefont */

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_1.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_1.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_1.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_2.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_2.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_2.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_3.eot');
    src: url('/assets/fonts/YanoneKaffeesatz-Regular_3.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_3.woff') format('woff'),
         url('/assets/fonts/YanoneKaffeesatz-Regular_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Cabin";
    /*background-color: #15062b;
    color: #fff;*/
}

p {
    font-family: "Cabin";
    /*font-size: 18px;*/
    line-height: 24px;
    letter-spacing: 0.5px;
}

p.title {
    font-size: 34px;
    text-transform: uppercase;
    color: #337ab7;
}

h1.h1-title {
    margin-bottom: 30px;
    color: #337ab7;
}
/* START HEADER*/
#header-wrapper {
    background-color: #15062b;
    padding: 15px 0;
}
#header-wrapper .logo {
    padding: 0px;
    height: 100px;
}
#header-wrapper .logo img{
    height: 100%;
    width: auto;
}
#header-wrapper .navbar-default.navbar-header-section {
    margin: 0px;
    background: none;
    border: 0px;
}
#header-wrapper .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
#header-wrapper .navbar-default .navbar-nav>.active>a, 
#header-wrapper .navbar-default .navbar-nav>.active>a:focus, 
#header-wrapper .navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #fff;
}
.title-marketing {
    position: absolute;
    top: 20px;
    right: 36%;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}

/* END HEADER*/
/* START FOOTER*/
#footer-wrapper {
    color: #fff;
    background-image: linear-gradient(347deg, #07487b, #3c0034);
}
#footer-wrapper .menuwidget a:hover{
    color: #da139a;
    text-decoration: underline;
}
#footer-wrapper #email-contact{
    color: #fff;
}
#footer-wrapper #email-contact:hover{
    color: #da139a;
    text-decoration: underline;
}
.footer-contact {
    margin-bottom: 35px;
}

.box_footer {
    padding-top: 25px;
}

.footer-contact img {
    width: 160px;
}

.menuwidget.nav li {
    width: 100%;
} 
.menuwidget.nav li a {
    font-size: 18px;
    font-family: "Yanone Kaffeesatz";
    color: #fff;
}
.menuwidget.nav li a:hover {
    background: transparent;
}
.helio-footer-info p, 
.contact-text p {
    font-size: 14px;
}
.textwidget .fa {
    margin-right: 10px;
}
.custom-icon {
    margin: 0px 20px;
    font-size: 30px;
    color: #fff;
}
.icon-youtube-play {
    color: #e336b6;
}
.helio-footer-info p, .contact-text p {
    font-size: 14px;
}
.footer-text-color {
    color: #e336b6;
    display: inline;
}
.footer-text {
    display: inline;
}
.icon-footer a:hover, .icon-footer a:focus {
    color: #fff;
}
.icon-footer .icon-youtube-play:hover, .icon-footer .icon-youtube-play:focus {
    color: #e336b6;
}
/* END FOOTER*/
/* START BREADCRUMB */
.breadcrumb {
    background: none;
}
.breadcrumb>li+li:before {
    content: "\003e";
}
/* END BREADCRUMB */
/* CONTENT */
.container.main {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}
/* START DATATABLE */

/* END DATATABLE */

/* Table */
.dataTables_paginate{
    margin-top: 20px;
}
.dataTables_filter, .dataTables_length{
    margin-bottom: 15px;
}
.dataTables_wrapper{
    margin-bottom: 20px;
}
.custom_table thead tr>th:first-child{
    width: 60px;
}
.dataTables_paginate{
    margin-right: 15px;
}
/* === Begin Customize icon sort dataTable ==*/
/*Hiden background image icon sort default dataTable*/
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
    background: none;
}
table.dataTable thead .sorting > span,
table.dataTable thead .sorting_asc > span,
table.dataTable thead .sorting_desc > span{
    padding-right: 20px;
    display: inline-table;
}
/*Append icon sort image*/
table.dataTable thead .sorting_asc > span  {
    background: url("assets/images/sort_asc.png") right center no-repeat ;
}
table.dataTable thead .sorting_desc > span{
    background: url("assets/images/sort_desc.png") right center no-repeat;
}
table.dataTable thead .sorting > span{
    background: url("assets/images/sort_both.png") right center no-repeat;
}
/* === End Customize icon sort dataTable === */

/*
    Customize padding display td
*/
table.dataTable thead th, table.dataTable thead td{
    padding: 8px 10px;
}
/* 
    Custom button add
    author: Lam; 
*/
.custom-title .custom-button{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    margin-bottom: 10px;
}
.custom-title .icon-button {
    font-size: 14px;
    padding-right: 9px;
}
.custom-title .icon-button-right {
    font-size: 14px;
    padding-left: 9px;
}
.custom-title{
    margin: 20px 0;
    border-bottom: 2px solid #111111;
}
.custom-title>div{
    padding-right: 0px;
    padding-left: 0px;
}
.hidden-line{
    border-bottom:none;
}
button.btn:focus {
    outline: none;
}

/* 
    custom multi select user
    author: Lam; 
*/
.multiselect_user{
    padding-left: 15px;
    padding-right: 15px;
}
.multiselect_user h4{
    margin-bottom: 40px;
}
.multiselect_user .row-border{
    font-size: 12px;
}
.multiselect_user .datatable-content{
    width: 47%;
    border: 1px solid;
}
.multiselect_user .button-move{
    width: 6%;
    margin-top: 25%;
}
.multiselect_user .button-move button{
    margin-top: 10px;
}
.multiselect_user #DataTables_Table_1_wrapper {
    overflow: auto !important;
}
.multiselect_user .dataTables_scrollBody{
    min-height: 433px;
}
.multiselect_user .dataTables_filter{
    float: left;
}
.multiselect_user .dataTables_filter input{
    margin-left: 0px;
}
.multiselect_user .info_search{
    margin-top: -10px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.multiselect_user .dataTables_scroll{
    overflow-x: scroll;
}
.multiselect_user .dataTables_scrollBody{
    overflow: initial !important;
}
/* 
    custom multi select user in user permission
    author: Hoangnguyen; 
*/
.wrapper-permission .multiselect_user .dataTables_scrollBody{
    min-height: 380px;
} 
/*
    Button change language
    author: Lam;
*/
.language button {
    width: 50px;
}
.language button.btn:focus {
    outline: none;
}
.alert h4{
    padding-left: 15px;
    font-size: 14px;
}

/*
    ToaString
    author: Lam;
*/
#toast-container{
    font-size: 16px;
}

/*
    Fullcalendar
    author: Lam;
*/
.fc-unthemed td.fc-today{
    background: #90b5e8;
}

/*
    Deletes list
    author: Lam;
*/
.dels-list{
    padding-left: 0px;
}
.dels-list button{
    margin-left: 10px;
}
/*
    Show list error form from server
    author: Lam;
*/
.error_msg{
    color: red;
    font-size: 16px;
}
/* Start Fix bugs confict z-index of datepicker + modal popup */
.modal {
    z-index: 900;
}
.modal-backdrop {
    z-index: 850;
}

/* End Fix bugs confict z-index of datepicker + modal popup */
@media (min-width: 768px) {
    /* START HEADER*/
    #header-wrapper .navbar-default .navbar-nav>li>a {
        padding: 40px 15px;
    }

    #header-wrapper .navbar-default .navbar-nav>li>a:last-child {
        padding-right: 0px;
    }
    /* END HEADER*/

    .multiselect_user .datatable-content{
        min-height: 841px;
    }
    /* 
        custom multi select user in user permission
        author: Hoangnguyen; 
    */
    .wrapper-permission .multiselect_user .datatable-content{
        min-height: 720px;
    }
}

@media only screen and (max-width : 768px) {
    .multiselect_user .datatable-content{
        width: 100%;
    }
    .multiselect_user .button-move{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .title-marketing {
        display: none;
    }
}
