p.errors {
	color: red;
}
.title-banner a {
	text-decoration: none;
	list-style-type: none;
	color: black;
}
.area-form-banner {
	margin: 20px -15px;
}
.footer-banner {
	margin-top: 10px;
	padding: 20px 10px;
}
label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 4px;
}
.error_msg {
	color: red;
}