.label-title{
    margin-top: 5px;
}
.label-empty{
    margin: 0 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.table-open-time th, .table-open-time td{
    text-align: center;
}
.title{
    margin-bottom: 30px;
}
.pd-r-0{
    padding-right: 0;
}
.pd-l-0{
    padding-left: 0;
}
form ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}
.table-open-time tbody tr{
    height: 44px;
}
.table-open-time tbody tr td{
    padding-top: 12px;
}
.table-open-time thead th{
    width: 40px;
}