<div class="row helio-app">
    <fieldset class="scheduler-border">
    <legend class="scheduler-border">THÔNG TIN TÀI KHOẢN HELIO APP</legend>
        <div class="col-xs-6 col-sm-6">
            <ng-container *ngIf="msg_error">
                <p *ngFor="let error of msg_error | mapToIterable" class="msg_error">
                    {{error.val}}
                </p>
            </ng-container>
            <form [formGroup]="appForm" novalidate class="form-user-app">
                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.full_name = !dis_input_app.full_name" />&emsp;
                        <label class="col-form-label form-check-label">Họ Và Tên</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="full_name"
                        [attr.disabled]="dis_input_app.full_name ? 'disabled' : null" 
                        [class.error_user]="status_error.full_name"/>
                        <show-error-valid [control]="appForm.get('full_name')"></show-error-valid>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.email = !dis_input_app.email" />&emsp;
                        <label class="col-form-label form-check-label">Email</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="email" 
                        (input)="stripEmail(ref_email.value)" #ref_email
                        [attr.disabled]="dis_input_app.email ? 'disabled' : null" 
                        [class.error_user]="status_error.email"/>
                        <ul class="error_valid" 
                            *ngIf="appForm.get('email') && appForm.get('email')?.errors && (appForm.get('email').dirty || appForm.get('email').touched)">
                            <li style="color: red" *ngIf="appForm.get('email').errors?.required">Trường này không được bỏ trống</li>
                            <li style="color: red" *ngIf="!appForm.get('email').errors?.required && appForm.get('email').errors?.email">
                                Email không đúng định dạng
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.phone = !dis_input_app.phone" />&emsp;
                        <label class="col-form-label form-check-label">Số Điện Thoại</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="phone" 
                        (input)="stripText(ref_phone.value, 'phone')" #ref_phone
                        [attr.disabled]="dis_input_app.phone ? 'disabled' : null" 
                        [class.error_user]="status_error.phone"/>
                        <show-error-valid [control]="appForm.get('phone')"></show-error-valid>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.birth_date = !dis_input_app.birth_date" />&emsp;
                        <label class="col-form-label form-check-label">Ngày Sinh</label>
                    </div>
                    <div class="col-sm-7 input-group custom-date">
                        <input type="text" class="form-control event-date" formControlName="birth_date"
                            [class.error_user]="status_error.birth_date"
                            [owlDateTime]="birth_date_app" id="birth_date_app"
                        />   
                        <span class="input-group-addon" [owlDateTimeTrigger]="birth_date_app">
                            <i class="fa fa-calendar"></i>
                        </span>      
                        <owl-date-time [pickerType]="'calendar'" [disabled]="dis_input_app.birth_date" #birth_date_app></owl-date-time>
                    </div>
                    <div class="col-md-offset-5 custom-date">
                        <show-error-valid [control]="appForm.get('birth_date')"></show-error-valid>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.personal_id = !dis_input_app.personal_id" />&emsp;
                        <label class="col-form-label form-check-label">Chứng Minh Nhân Dân</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="personal_id" 
                        (input)="stripText(personal_id.value, 'personal_id')" #personal_id
                        [attr.disabled]="dis_input_app.personal_id ? 'disabled' : null" 
                        [class.error_user]="status_error.personal_id"/>
                        <show-error-valid [control]="appForm.get('personal_id')"></show-error-valid>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <input class="form-check-input" type="checkbox" [disabled]="is_disable_checkbox"
                        (change)="dis_input_app.address = !dis_input_app.address" />&emsp;
                        <label class="col-form-label form-check-label">Địa Chỉ</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" formControlName="address"
                        [attr.disabled]="dis_input_app.address ? 'disabled' : null" 
                        [class.error_user]="status_error.address"/>
                        <show-error-valid [control]="appForm.get('address')"></show-error-valid>
                    </div>
                </div>
          
                <button class="btn btn-primary" (click)="onSubmitApp()" [disabled]="is_disabled_btn_app">LƯU</button>
            </form>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-sm-3 mgt-5">
                    <label class="col-form-label form-check-label">Email</label>
                </div>
                <div class="col-sm-9">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Nhập email cần tìm" 
                                #search_email id="search_email"/>
                            <span class="input-group-addon">
                                <button (click)="searchEmail(search_email.value)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="errorMessage">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="alert alert-danger">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="panel panel-default mgt-15">
                        <div class="panel-heading"><strong>Ghi chú</strong></div>
                        <div class="panel-body">
                            <p>1. Sau khi liên kết, người dùng không thể sửa thông tin trên App.</p>
                            <p>2. Thông tin liên hệ của thẻ và tài khoản App phải khớp để liên kết.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>