<div id="UpdateNoti" class="modal fade" role="dialog">
    <div class="modal-dialog custom-popup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chỉnh Sửa Thông Báo</h4>
            </div>
            <div class="modal-body">
                <form-notification  [position]="position" (update_noti)='updateNoti($event)'
                ></form-notification>
            </div>
        </div>
    </div>
</div>