<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Câu Hỏi Thường Gặp</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Câu Hỏi Thường Gặp</p>
</div>
<div *ngIf="faqs">
    <div class="row mt-50 mb-15 custom-title">
        <div class="col-xs-12 col-sm-12">
            <a class="pull-right" [routerLink]="['/faq/add/', {lang: 'vi'}]">
                <div class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    THÊM CÂU HỎI
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-30 language">
        <div class="col-xs-12 col-sm-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-primary' : 'btn-info' }}"
                    (click)="changeLang('vi')"
                >VI</button>
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-info' : 'btn-primary' }}"
                    (click)="changeLang('en')"
                >EN</button>
            </div> 
        </div>
    </div>
    <div class="custom_table">
        <table datatable class="row-border hover" id="table_id" dt-instance="dtInstanceCallback" [dtOptions]='dtOptions'>
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Câu Hỏi Thường Gặp</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let faq of faqs">
                    <td><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                    <td>{{ faq.id }}</td>
                    <td><a [routerLink]="['/faq/edit/', faq.id, {lang: lang}]">{{ faq.question }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row dels-faq">
        <div class="col-md-3">
            <select name="" class="form-control select-faq">
                <option value="1">Xóa các câu hỏi được chọn</option>
            </select>
        </div>
        <div class="col-md-3 dels-list">
            {{ length_selected }} của {{ length_all }} được chọn 
            <button class="btn btn-danger" (click)="deleteFaqEvent()">Thực hiện</button>
        </div>
    </div>
</div>