<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/denomination-list">Mệnh Giá Nạp Tiền</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class='title-denomi row'>
    <p class="title text-center">{{title}}</p>
</div>
<hr>
<ng-container *ngIf="errorMessage">
    <p *ngFor="let error of errorMessage | mapToIterable" class="error_msg">
        {{ error.val }}
    </p>
</ng-container>

<form [formGroup]="denoForm" (click)="removeMessage()" class="row form-add-denomi" *ngIf="denomination" novalidate="">
    <div class="content-denomi">
        <div class="form-group row">
            <div class="col-sm-2">
                <label class="center-block">Mệnh Giá Nạp Tiền</label>
            </div>
            <div class="col-sm-6">
                <input class='form-control' name="denomination" 
                formControlName="denomination" id="denomination"
                [(ngModel)]="data"
                (keyup) ="format_currency($event.target.value)"
                > 
                <show-error-valid [control]="denoForm.get('denomination')"></show-error-valid>
            </div>
            <div class="col-md-2">
                <p class='dv-denom'>VNĐ</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class='col-sm-12'>
            <button (click)="addDenomination(denoForm.value)"
            class="pull-right btn btn-primary">LƯU LẠI</button>
            <button type="submit" class='pull-left btn btn-danger' (click)="confirmDelete(denomination)" *ngIf="denomination.id">XÓA</button>
        </div>
    </div> 
</form>
