/*Begin Content Denomination Add*/
.title-denomi {
	margin: 10px 0 20px 0;
	padding: 10px 0;

}
a.pull-left {
	color: #333;
}
a.pull-left:hover {
	text-decoration: none;
}
.form-add-denomi {
	padding: 0 15px;
}
.content-denomi {
	margin-bottom: 10px;
}
p.dv-denom {
	padding-top: 7px;
}
.errors {
	color: red;
}
/*End Content Denomination Add*/