.sf-title p{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.sf-content .panel-body{
    padding-bottom: 50px;
}
.sf-content {
	padding: 0 30px;
}
/*.sf-content input{
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sf-content .input-group{
    float: left;
}*/
.sf-content>h5{
    color: red;
}
h5, h4 {
	text-transform: capitalize;
}