<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/feedback-list">Phản Hồi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thống Kê Phản Hồi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Thống Kê Phản Hồi</p>
</div>
<div *ngIf="!error_permission; else no_permission">
    <div class="row sf-title mt-30 mb-30">
        <div class="row sf-content">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h5>Trạng thái xử lý của phản hồi</h5>
                        </div>
                        <div class="col-sm-1">
                            <h5>Thời gian</h5>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" class="form-control event-date" [(ngModel)]="date_status_start"
                                    [owlDateTime]="dt1" placeholder="Ngày bắt đầu" id="startD_status"
                                />
                                <span class="input-group-addon" [owlDateTimeTrigger]="dt1">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class='input-group'>
                                <input type="text" class="form-control event-date" [(ngModel)]="date_status_end"
                                    [owlDateTime]="dt2" placeholder="Ngày kết thúc" id="endD_status"
                                />
                                <span class="input-group-addon" [owlDateTimeTrigger]="dt2">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" (click)="onSubmitStatus()">Hiển Thị</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row text-center" *ngIf="status_sum >= 0">
                        <h1>TỔNG SỐ</h1>
                        <h4>{{ status_sum }}</h4>
                    </div>
                    <div class="row text-center" *ngIf="fb_status">
                        <div class="col-xs-4 col-sm-4">
                            <h4>Chưa trả lời</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{status: 'no_process' , start_date: start_date, end_date: end_date }">
                                {{ fb_status.no_process }}
                            </a></p>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <h4>Đã trả lời</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{status: 'answered' , start_date: start_date, end_date: end_date }">
                                {{ fb_status.answered }}
                            </a></p>
                        </div>
                        <div class="col-xs-5 col-sm-5">
                            <h4>Đã chuyển đến bộ phận liên quan</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{status: 'moved' , start_date: start_date, end_date: end_date }">
                                {{ fb_status.moved }}
                            </a></p>
                        </div>
                    </div>
                </div> 
            </div>  
        </div>

        <div class="row sf-content">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h5>Trạng thái Rating của phản hồi</h5>
                        </div>
                        <div class="col-sm-1">
                            <h5>Thời gian</h5>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" class="form-control event-date" [(ngModel)]="date_rate_start"
                                    [owlDateTime]="dt3" placeholder="Ngày bắt đầu" id="startD_rate"
                                />
                                <span class="input-group-addon" [owlDateTimeTrigger]="dt3">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class='input-group'>
                                <input type="text" class="form-control event-date" [(ngModel)]="date_rate_end"
                                    [owlDateTime]="dt4" placeholder="Ngày kết thúc" id="endD_rate"
                                />
                                <span class="input-group-addon" [owlDateTimeTrigger]="dt4">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" (click)="onSubmitRate()">Hiển Thị</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row text-center" *ngIf="rate_sum >= 0" >
                        <h1>TỔNG SỐ</h1>
                        <h4>{{ rate_sum }}</h4>
                    </div>
                    <div class="row text-center" *ngIf="fb_rate">
                        <div class="col-xs-3 col-sm-3">
                            <h4>Tuyệt vời</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{rate: 'Tuyệt vời' , start_date: start_date, end_date: end_date }">
                                {{ fb_rate.great }}
                            </a></p>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <h4>Tốt</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{rate: 'Tốt' , start_date: start_date, end_date: end_date }">
                                {{ fb_rate.good }}
                            </a></p>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <h4>Bình thường</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{rate: 'Bình thường' , start_date: start_date, end_date: end_date }">
                                {{ fb_rate.nomal }}
                            </a></p>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <h4>Không tốt</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{rate: 'Không tốt' , start_date: start_date, end_date: end_date }">
                                {{ fb_rate.bad }}
                            </a></p>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                            <h4>Không có gì</h4>
                            <p><a [routerLink]="['/feedback-list']" 
                                [queryParams]="{rate: 'Không có gì' , start_date: start_date, end_date: end_date }">
                                {{ fb_rate.notbad }}
                            </a></p>
                        </div>
                    </div>
                </div> 
            </div>  
        </div>
    </div>
</div>
<ng-template #no_permission >
    <div class="no-permission"></div>
</ng-template>