/*Begin content link-card users*/
#table_link_card_wrapper {
	overflow: scroll;
}
.area-link-card-footer {
	margin:10px 0px 15px -15px;
}
.btn-link-card {
	margin-left: 30px;
}
p.title {
	font-size: 34px;
}
.custom-title {
	margin: 15px 0px;
	border-bottom: 2px solid black;
	padding: 0 0 10px 0px;
	text-transform: uppercase;
}
/*End contetn link-card users*/