.mb-30{
    margin-bottom: 30px;
}
/deep/ .custom-popup.modal-dialog{
    width: 60%;
}
/deep/ .custom-popup.modal-dialog .row .col-sm-2{
    width: 20%;
    margin-left: 20px;
}
/deep/ .custom-popup.modal-dialog .row .col-sm-6{
    width: 60%;
}
/deep/ .custom-popup.modal-content{
    padding-bottom: 40px;
}
.message-success{
    color: green;
}
.message_error{
    color: red;
}