.dels-game{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-15{
    margin-top: 15px;
}
.messsage{
    color: green;
}
.dels-event{
    margin-bottom: 50px;
}
.messsage_error{
    color: red;
}
.checkbox_all{
    width: 50px;
}
.custom-title a {
    padding: 5px 0;
}