<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li><a routerLink='/'>Trang Chủ</a></li>
		<li><a routerLink="/fee/list">Phí Giao Dịch</a></li>
		<li class="active" >{{title}}</li>
	</ol>
</nav>
<div class="container">
	<div class="row mt-30 mb-30">
		<p class="title text-center">{{title}}</p>
	    <hr/>
	</div>
	<ng-container *ngIf="errorMessage">
	<h4 *ngFor="let error of errorMessage | mapToIterable" class="error_msg">
	{{error.val}}
	</h4>
	</ng-container>
	<form [formGroup]="feeAddForm" *ngIf="fee" (change)="removeMessage()">
		<div class="form-group row">
			<div class="col-sm-2">
				<label>Phí</label>
			</div>
			<div class="col-sm-6">
				<input type="text" class="form-control no-arrow" formControlName="fee"
				[(ngModel)]="data"
				(click)="removeMessage()"
				(keyup) ="format_currency($event.target.value)"
				>
				<show-error-valid [control]="feeAddForm.get('fee')"></show-error-valid>
			</div>
			<div class="col-sm-2">
				<select formControlName="fee_type" id="fee_type" class="form-control">
					<option value="%">%</option>
					<option value="vnd">VNĐ</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">
				<label>Vị Trí</label>
			</div>
			<div class="col-sm-6">
				<input type="radio" value="tickets" formControlName="position" id="tickets">
				<label for="tickets">Phí Chuyển Ticket</label>
				<input type="radio" value="deposit" formControlName="position" id="deposit">
				<label for="deposit"> Phí Nạp Tiền</label>
				<show-error-valid [control]="feeAddForm.get('position')"></show-error-valid>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2">
				<label for="is_apply">Áp Dụng Phí</label>
			</div>
			<div class="col-sm-6">
				<input type="checkbox" formControlName="is_apply" id="is_apply">
			</div>
			<div class="feeAddForm_error">
				<show-error-valid [control]="feeAddForm.get('is_apply')"></show-error-valid>
			</div>
		</div>
		<hr>
		<div class="col-md-12 area-button">
			<button type="submit" class="pull-right btn btn-primary" (click)="createFee(feeAddForm.value)" >
			LƯU LẠI
			</button>
			<button class="pull-left btn btn-danger" *ngIf="fee.id" (click)="confirmDelete(fee)">
				XÓA
			</button>
		</div>
	</form>
</div>