/*Begin feedback detail content*/
.edit-feedback {
	margin: 10px 15px;
}
.form-feedback {
	margin-left: 15px;
}
li.username-feed {
	text-transform: capitalize;
}
p.title {
	font-size: 34px;
}
p.errors {
	color: red;
}
a.title-feedback {
	padding: 5px 0px;
	color: black;
	font-size: 15px;
}
.area-feedback ul, li {
	list-style: none;
	text-decoration: none;
}
.button-feedback {
	margin: 10px 15px;
	padding-top: 10px;
}
label.center-block {
	text-transform: capitalize;
}
/*End feedback detail content*/