<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/feedback-list">Phản Hồi</a></li>
            <li class="breadcrumb-item active username-feed" aria-current="page">{{feedback?.name}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row edit-feedback text-center">
    <p class="title">Chỉnh sửa phản hồi</p>
</div>
<hr>
<div class=' row area-form-feedback' >
    <div *ngIf='feedback'>
        <form [formGroup]="feedbackForm" novalidate>
            <div class="row form-feedback">
                <div class="col-md-8 ">
                	<div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Họ tên</label>
                        </div>
                        <div class="col-sm-8">
                			<input class='form-control' name="name" 
                			formControlName="name"
                            disabled
                			>
                        </div>
                	</div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Email</label>
                        </div>
                        <div class='col-sm-8'>
                            <input class='form-control' name="email" 
                            formControlName="email"
                            disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Số điện thoại</label>
                        </div>
                        <div class="col-sm-8">
                            <input class='form-control' name="phone" 
                            formControlName="phone"
                            disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="center-block"> Chủ đề</label>
                        </div>
                        <div class="col-sm-8">
                            <input class='form-control' name="subject" 
                            formControlName="subject"
                            disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block">Nội dung</label>
                        </div>
                        <div class='col-sm-8'>
                            <textarea rows=5 class='form-control' name="message" 
                            formControlName="message"
                            disabled
                            >
                            </textarea> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class='col-sm-3'>
                            <label class="center-block"> Loại</label>
                        </div>
                        <div class="col-sm-8">
                             <input  class='form-control' name="feedback_type" 
                            formControlName="feedback_type"
                            disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Ngày nhận</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" formControlName='created' disabled class='form-control' name='created' [value] ="feedback.created | date: 'dd/MM/yyyy'"
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Rating</label>
                        </div>
                        <div class='col-md-8'>
                            <input class='form-control' name="rate" 
                            formControlName="rate"
                            disabled
                            >
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="center-block"> Trạng thái xử lý</label>
                        </div>
                        <div class="col-md-8">
                            <select class='form-control' name="status" 
                            formControlName="status">
                                <option *ngFor="let status of tus" [value]="status">
                                    {{status}}
                                </option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class='col-md-3'>
                            <label class="center-block"> Câu trả lời</label>
                        </div>
                        <div class="col-md-8">
                             <textarea rows=5 class='form-control' name="answer" 
                            formControlName="answer"
                            >
                            </textarea>
                            <show-error-valid [control]="feedbackForm.get('answer')"></show-error-valid>
                            <p class ="errors" *ngIf="errorMessage">
                                {{ errorMessage.answer}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row button-feedback">
                <div class="col-md-12">
                    <button type="submit" class=' pull-right btn btn-primary' (click)="updateFeedback()">LƯU LẠI</button>
                    <button type="submit" class='pull-left btn btn-danger' (click)="confirmDeleteFeedback(feedback)" >XÓA</button>
                </div>
            </div>
        </form>
    </div>
</div>