
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<!-- <link rel="manifest" href="{{ STATIC_URL }}assets/websites/js/manifest.json"> -->

    <script src = "{{ STATIC_URL }}assets/js/jquery-3.2.1.min.js"></script>
    <!-- <script src = "{{ STATIC_URL }}assets/websites/js/manifest.json"></script> -->
    <script src = "{{ STATIC_URL }}assets/websites/js/serviceWorker.js"></script>

    <script src = "{{ STATIC_URL }}assets/websites/js/notificationPush.js"></script>

<body>
    <div id="paypal-button-container"></div>

</body>

