<header id="header-wrapper">
    <div class="container">
        <nav class="navbar navbar-default navbar-header-section ">
            <div class="container-fluid"></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <img src="https://helio.vn/static/assets/images/logo.png" />
                </a>
                <span class="title-marketing">Admin Marketing</span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" *ngIf="variable_globals.user_current">
                    <li class="active">
                        <a routerLink="/user-detail/{{ variable_globals.user_current.id }}">
                            <ng-container *ngIf="variable_globals.user_current.full_name">
                                {{variable_globals.user_current.full_name}}
                            </ng-container>
                            <ng-container *ngIf="!variable_globals.user_current.full_name">
                                {{variable_globals.user_current.email}}
                            </ng-container>
                        </a>
                    </li>
                    <li class="hidden-xs"><a>/</a></li>
                    <li><a  class="login" (click)="logout()">Đăng Xuất</a></li>
                </ul>
            </div>

        </nav> 
    </div>


</header>

<div class="container main">
	<router-outlet></router-outlet>
    <ng4-loading-spinner> </ng4-loading-spinner>
</div>
<footer id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box_footer">
                    <div class="footer-contact"> 
                        <a href="/"><img src="https://helio.vn/static/assets/images/footer_logo.png" alt="Helio Center - Khu vui chơi giải trí tại Đà Nẵng" title="Helio Center là khu vui chơi giải trí hiện đại đầu tiên và duy nhất tại Đà Nẵng"></a> 
                    </div>
                    <div class="textwidget contact-text">
                       <p><i class="fa fa-phone"></i>(0236) 3 630 888</p>
                       <a href="https://helio.vn/vi/contact/" id="email-contact"><p><i class="fa fa-envelope-o"></i>contact@helio.vn</p></a>
                       <p><i class="fa fa-map-marker"></i>Khu công viên Đông Nam Đài tưởng niệm, Đường 2/9, Phường Hòa Cường Bắc, Quận Hải Châu, TP Đà Nẵng</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row box_footer">
                    <div class="col-md-5 col-xs-5">
                        <ul class="menuwidget nav">
                            <li class="active"><a href="/vi/">TRANG CHỦ</a></li>
                            <li><a href="https://helio.vn//vi/helio-introduction/">GIỚI THIỆU</a></li>
                            <li><a href="https://helio.vn//vi/careers/">TUYỂN DỤNG</a></li>
                            <li><a href="https://helio.vn//vi/contact/">LIÊN HỆ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-xs-7">
                        <ul class="menuwidget nav">
                            <li><a href="https://helio.vn//vi/news/">TIN TỨC</a></li>
                            <li><a href="https://helio.vn//vi/experience/">TRẢI NGHIỆM</a></li>
                            <li><a href="https://helio.vn//vi/term-condition/">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                        </ul>
                    </div>
                </div>
            
            </div>
            <div class="col-md-4">
                <div id="facebook-like-widget-3" class="box_footer">
                    <div>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fheliocenter%2F&amp;tabs&amp;width=360&amp;height=154&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId=556877924479887" width="100%" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row helio-footer-info">
            <div class="col-lg-12">
                
            </div>
            <div class="col-md-4">
                <div>
                    <p class="footer-text">©2017 <span class="footer-text-color">Helio Center</span>, All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-md-4 icon-footer" align="Center">
                <a target="_blank" href="https://www.facebook.com/heliocenter/?fref=ts" class="custom-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCqohgvuEAarbR0xnVNTp0Ag" class="custom-icon icon-youtube-play"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <!-- <a href="#" class="custom-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a> -->
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <p class="footer-text">Một sản phẩm vui chơi đến từ <span class="footer-text-color">Khởi Phát, Ltd.</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>