fieldset.scheduler-border {
    border: 3px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
.form-check{
    margin-top: 5px;
}
form button{
    width: 80px;
    font-weight: bold;
}
form button:hover{
    background-color: red;
    border-color: red;
}
#imaginary_container ul {
    overflow-y: auto;
    height: 100px;
}
#imaginary_container ul li:hover{
    background-color: #e9ebee;
    cursor: pointer;
}
.error_user{
    border-color: red;
}
.error_card_link{
    color: red;
    margin-top: 30px;
}

/* Search */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.mgt-5{
    margin-top: 5px;
}
.mgt-15{
    margin-top: 15px;
}
.msg_error{
    color: red;
}
.msg_success{
    color: green;
}
.helio-embed{
    padding-left: 15px;
    padding-right: 15px;
}
ul.error_valid{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}
.custom-date{
    padding-left: 15px;
    padding-right: 15px;
}