.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.custom-date{
    padding-right: 15px;
    padding-left: 15px;
}
form .event-date{
    width: 40%;
}
.custom-date{
	padding-left: 15px;
	padding-right: 15px;
}
.promotion-image ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}
form .input-group, .custom-date{
    padding-right: 15px;
    padding-left: 15px;
}