<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thông Báo</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Thông Báo</p>
</div>
<div *ngIf="notifications">
    <div class="row mt-50 mb-15 custom-title">
        <div class="col-xs-12 col-sm-12">
            <a class="pull-right" [routerLink]="['/notification/add/', {lang: 'vi'}]">
                <div class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    THÊM THÔNG BÁO
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-30 language">
        <div class="col-xs-12 col-sm-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-primary' : 'btn-info' }}"
                    (click)="changeLang('vi')"
                >VI</button>
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-info' : 'btn-primary' }}"
                    (click)="changeLang('en')"
                >EN</button>
            </div> 
        </div>
    </div>
    <div class="custom_table">
        <table datatable class="row-border hover" id="table_id" dt-instance="dtInstanceCallback" [dtOptions]='dtOptions' 
            *ngIf="notifications && user_current">
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Tên Thông Báo</span></th>
                    <th><span>Tình Trạng</span></th>
                    <th><span>Ngày Gửi</span></th>
                    <th><span>Người Gửi</span></th>
                    <th><span>&nbsp;&nbsp;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let noti of notifications" 
                    class="row-data {{(noti.sent_date && user_current?.role !== SYSTEM_ADMIN) ? 'disabled_checkbox': ''}}">
                    <td>
                        <input type="checkbox" (change)="selectCheckbox($event);" 
                            [disabled]="noti.sent_date && user_current?.role !== SYSTEM_ADMIN"
                        />
                    </td>
                    <td>{{ noti.id }}</td>
                    <td>
                        <a [routerLink]="['/notification/edit/', noti.id, {lang: lang}]">{{ noti.subject }}</a>
                    </td>
                    <td *ngIf="noti.sent_date">Đã gửi</td>
                    <td *ngIf="!noti.sent_date">Chưa gửi</td>
                    <td><span class="hidden">{{ noti.sent_date | date:'yyyyMMdd' }}</span>{{ noti.sent_date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ noti.sent_user?.email }}</td>
                    <td><a class="btn btn-primary" [routerLink]="['/notification/detail/', noti.id, {lang: lang}]">Chọn danh sách user</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row dels-noti" *ngIf="notifications">
        <div class="col-md-3">
            <select name="" class="form-control">
                <option value="1">Xóa các thông báo được chọn</option>
            </select>
        </div>
        <div class="col-md-3 dels-list">
            {{ length_selected }} của {{ length_all }} được chọn
            <button class="btn btn-danger" (click)="deleteNotificationEvent()">Thực hiện</button>
        </div>
    </div>
</div>
