<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phân Quyền Cho Role</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center mb-30">
    <p class="title">Phân Quyền Cho Role</p>
</div>
<div *ngIf='user_current?.role == SYSTEM_ADMIN && models'>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Quyền Trên Model</th>
                        <th colspan="5" class="text-center">Phân Quyền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="style_font_top">
                        <td></td>
                        <td class="text-center" *ngFor="let role of roles">{{role.name}}</td>
                    </tr>
                    <ng-container *ngFor="let model of models">
                        <tr>
                            <td colspan="6" class="info">{{model.name}}</td>
                        </tr>
                        <tr class="style_border_top">
                            <td>Full</td>
                            <td class="text-center" *ngFor="let role of roles">
                                <input type="checkbox"  id="full-{{model.id}}-{{role.id}}"
                                    class="permission-{{model.id}}-{{role.id}}"
                                    (change)="changePermission($event, model, role, 'full')" 
                                    [attr.disabled]="PROMOTION_TYPE === model.key ? true : null"
                                />
                            </td>
                        </tr>
                        <tr class="style_border_top">
                            <td>Change</td>
                            <td class="text-center" *ngFor="let role of roles">
                                <input type="checkbox" id="change-{{model.id}}-{{role.id}}"
                                    class="permission-{{model.id}}-{{role.id}}"
                                    (change)="changePermission($event, model, role, 'change')" 
                                    [attr.disabled]="PROMOTION_TYPE === model.key ? true : null"
                                />
                            </td>
                        </tr>
                        <tr class="style_border_top">
                            <td>Read</td>
                            <td class="text-center" *ngFor="let role of roles">
                                <input type="checkbox" id="read-{{model.id}}-{{role.id}}"
                                    class="permission-{{model.id}}-{{role.id}}"
                                    (change)="changePermission($event, model, role, 'read')" 
                                />
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Ghi Chú</div>
                    <div class="panel-body">
                        <p>Full: Được quyền xem, thêm, sửa, xóa.</p>
                        <p>Change: Được quyền xem, thêm, sửa.</p>
                        <p>Read: Được quyền xem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-8">
            <button class="btn btn-primary pull-right" (click)="onSubmit()">LƯU</button>
        </div>
    </div>
</div>