<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/user-list">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm User</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class='title-user row'>
    <p class="title text-center"> Thêm User</p>
</div>
<hr>
<form [formGroup]="formUser" (ngSubmit)="onSubmit()">
	<div class='content-form-add-user row'>
		<div class="col-md-8">
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block"> Email</label>
				</div>
	        	<div class="col-sm-8">
					<input class='form-control' name="email" 
					formControlName="email" type="email"
					(click)="removeErrorMessage()"
					>
					<input type="email" name="email" value="" [ngStyle]="{'display':'none'}" />
					<show-error-valid [control]="formUser.get('email')"></show-error-valid>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.email }} </p>
					</div>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block"> Mật khẩu</label>
				</div>
	        	<div class="col-sm-8">
	        		<input type="password" name="password" value="" [ngStyle]="{'display':'none'}" />
					<input class='input-password form-control' type="password" name="password" 
					formControlName="password" id="password"
					autocomplete="new-password" 
					#input
					>
					<button (click)="showPassword(input)" type="button" class="file-icon btn btn-default"><span id="toggleShowHide" class="fa fa-eye-slash"></span></button>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.password }} </p>
					</div>
					<show-error-valid [control]="formUser.get('password')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Họ và Tên</label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="full_name" 
					formControlName="full_name" type="text"
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.full_name }} </p>
					</div>
					<show-error-valid [control]="formUser.get('full_name')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Ngày sinh</label>
				</div>
	        	<div class="col-sm-8">
	        		<div class="input-group">
		                <input type="text" class="form-control event-date" formControlName="birth_date" id="birth_date" name="birth_date" [owlDateTime]="dtBirtday"
		                (click)='removeErrorMessage()'
		                />       
		                <owl-date-time [pickerType]="'calendar'"  #dtBirtday></owl-date-time>
		                <span class="input-group-addon" [owlDateTimeTrigger]="dtBirtday">
		                    <i class="fa fa-calendar"></i>
		                </span>
	        		</div>
	        		<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.birth_date }} </p>
					</div>
					<show-error-valid [control]="formUser.get('birth_date')"></show-error-valid>
	        	</div>
	        </div>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Số điện thoại</label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="phone" 
					formControlName="phone" id="phone"
					(click)="removeErrorMessage()"
					(input)="validOnlyNumber(phone.value, 'phone')" #phone
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.phone }} </p>
					</div>
					<show-error-valid [control]="formUser.get('phone')"></show-error-valid>	
	        	</div>
	        </div>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Chứng minh nhân dân</label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="personal_id" 
					formControlName="personal_id"
					(click)="removeErrorMessage()"
					(input)="validOnlyNumber(personal_id.value, 'personal_id')" #personal_id
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.personal_id }} </p>
					</div>
					<show-error-valid [control]="formUser.get('personal_id')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Quốc gia </label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="country" 
					formControlName="country"
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.country }} </p>
					</div>
					<show-error-valid [control]="formUser.get('country')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Địa chỉ</label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="address" 
					formControlName="address"
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.address }} </p>
					</div>
					<show-error-valid [control]="formUser.get('address')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
				<div class="col-sm-3">
					<label class="center-block">Thành phố</label>
				</div>
	        	<div class="col-sm-8">	
					<input class='form-control' name="city" 
					formControlName="city"
					>
					<div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.city }} </p>
					</div>
					<show-error-valid [control]="formUser.get('city')"></show-error-valid>	
	        	</div>
	        </div>
	        <div class="form-group row">
		        <div class="col-sm-3">
		            <label class="center-block">Hình Ảnh</label>
		        </div>
		        <div class="col-sm-8">
	            	<input type="file" id="avatar" accept="image/*"
			        (change)="onFileChange($event)"
			        />
			        <div *ngIf="errorMessage">
						<p class='errors'> {{ errorMessage.avatar }} </p>
					</div>
	            	<show-error-valid [control]="formUser.get('avatar')"></show-error-valid>
	        	</div>
	        	
	    	</div>
	        <div class="form-group row">
	        	<div class="col-sm-3">
					<label class="center-block"> Loại User</label>
				</div>
				<div class="col-sm-8" *ngIf="roles">
	                <select class='form-control' name="role" 
	                formControlName="role">
	                	<option value="0" [selected]="isSelected">-- CHỌN LOẠI USER --</option>
	                    <option *ngFor="let role of roles" value="{{ role.id }}">
	                        {{ role.name }}
	                    </option>
	                    <option value="">Customer</option>
	                </select>
	                <show-error-valid [control]="formUser.get('role')"></show-error-valid>
	            </div>
	        </div>
		</div>
	</div>
	<div class='clearfix'></div>
	<hr>
	<div class="col-md-12">
		<div class="form-group row">
		    <button type="submit" class="pull-right btn btn-primary">LƯU LẠI</button>
		</div>
	</div>
</form>

