.content-user, .info-user-content  {
    padding: 8px 0px;
}
.input-password {
	padding: 5px 50px 5px 10px;
}
.button-user_detail {
	padding: 0px;
}
.file-icon {
	float: right;
	position: absolute;
	top: 0%;
	right: 15px;
	cursor: pointer;
}
p.errors {
	color: red;
}
p.info-users {
	/*padding: 15px 0;*/
	font-size: 16px;
	margin: 0px 12px;
}
label.center-block {
	text-transform: capitalize;
}
.msg_error{
    color: red;
}
.disabled-calender {
	opacity: 1;
}
.file-icon[disabled] {
	background-color: #eee;
	opacity: 1;
}