<div class="row multiselect_user">
    <div class="col-md-5 datatable-content" *ngIf="user_list_left">
        <h4 *ngIf="notification || promotion; else user_permission" class="text-center">DANH SÁCH KHÁCH HÀNG</h4>
        <ng-template #user_permission>
            <h4 class="text-center">DANH SÁCH TẤT CẢ USER</h4>
        </ng-template>
        <table id="table_id_1" datatable [dtOptions]="dtOptions_left" class="row-border hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all_left" id="select-all-left" (change)="selectAllPageLeft($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Họ Và Tên</span></th>
                    <th><span>Ngày Sinh</span></th>
                    <th><span>Email</span></th>
                    <th><span>Số Điện Thoại</span></th>
                    <th><span>Trạng Thái Thẻ</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let user of user_list_left">
                    <td><input type="checkbox"/></td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name }}</td>
                    <td><span class="hidden">{{ convertToDate(user.birth_date)}}</span>{{ user.birth_date}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.barcode ? 'Đã Liên Kết' : 'Chưa Liên Kết' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2 button-move">
        <button class="btn btn-danger" (click)="move_right()"> 
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
        </button>
        <button class="btn btn-danger" (click)="move_left()"> 
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
        </button>
    </div>
    <div class="col-md-5 datatable-content" *ngIf="user_list_right">
        <h4 *ngIf="notification" class="text-center">DANH SÁCH KHÁCH HÀNG ĐƯỢC NHẬN THÔNG BÁO</h4>
        <h4 *ngIf="promotion" class="text-center">DANH SÁCH KHÁCH HÀNG ĐƯỢC NHẬN KHUYẾN MÃI</h4>
        <h4 *ngIf="!notification && !promotion" class="text-center">DANH SÁCH USER ĐƯỢC CHỌN</h4>
        <table id="table_id_2" datatable [dtOptions]="dtOptions_right" class="row-border hover">
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all_right" id="select-all-right" (change)="selectAllPageRight($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Họ Và Tên</span></th>
                    <th><span>Ngày Sinh</span></th>
                    <th><span>Email</span></th>
                    <th><span>Số Điện Thoại</span></th>
                    <th><span>Trạng Thái Thẻ</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let user of user_list_right">
                    <td><input type="checkbox"/></td>
                    <td>{{ user.id }}</td>
                    <td> {{ user.full_name }}</td>
                    <td><span class="hidden">{{ convertToDate(user.birth_date)}}</span>{{ user.birth_date }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.barcode ? 'Đã Liên Kết' : 'Chưa Liên Kết' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row multiselect_footer">
    <div class="col-xs-6 col-md-6">
        <button class="btn button-selectall pull-right" *ngIf="!is_button_left" 
            (click)="selectAllEventLeft($event)"
        >CHỌN TẤT CẢ</button>
        <button class="btn button-selectall pull-right" *ngIf="is_button_left" 
            (click)="cancelSelectAllEventLeft($event)"
        >BỎ CHỌN TẤT CẢ</button>
    </div>
    <div class="col-xs-6 col-md-6">
        <button class="btn btn-primary pull-right" (click)="onSave()">LƯU</button>
        <button class="btn button-selectall pull-right" *ngIf="!is_button_rigth" 
            (click)="selectAllEventRight($event)"
        >CHỌN TẤT CẢ</button>
        <button class="btn button-selectall pull-right" *ngIf="is_button_rigth" 
            (click)="cancelSelectAllEventRight($event)"
        >BỎ CHỌN TẤT CẢ</button>
    </div>
</div>