.title-hot-advs {
	margin: 10px 0 20px 0;
	padding: 10px 0;
}
p.title {
	font-size: 34px;
}
p.errors {
	color: red;
}
a.pull-left {
	text-decoration: none;
	color: black;
}
.bt-hot-advs {
	margin-top: 15px;
}
.form-check {
	margin-top: 7px;
}
label.checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 4px;
}