.noti-image button{
    margin-top: 5px;
}
form label{
    margin-top: 8px;
}
form select.form-control{
    width: 40%;
}
form .event-date{
    width: 40%;
}
form .input-group{
    padding-right: 15px;
    padding-left: 15px;
}
.error_msg{
    color: red;
}
.noti-image ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}