<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/game/list">Trò Chơi</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title_page}}</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row mt-30 mb-30 text-center">
    <div class="col-xs-12 col-md-12">
        <p class="title">{{title_page}}</p>
        <hr/>
    </div>
</div>
<ng-container *ngIf="errorMessage">
    <h4 *ngFor="let error of errorMessage | mapToIterable" class="error_msg">
        {{error.val}}
    </h4>
</ng-container>
<form [formGroup]="formGame" novalidate *ngIf="game">
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Tên</label>
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="name"/>
            <show-error-valid [control]="formGame.get('name')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Mô Tả</label>
        </div>
        <div class="col-sm-8">
            <textarea rows="3" class="form-control" formControlName="short_description"></textarea>
            <show-error-valid [control]="formGame.get('short_description')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Nội Dung</label>
        </div>
        <div class="col-sm-8">
            <ckeditor formControlName="content" [config]="ckEditorConfig"></ckeditor>
            <show-error-valid [control]="formGame.get('content')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row noti-image">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Hình Ảnh</label>
        </div>
        <div class="col-sm-8">
            <p *ngIf="game.image">
                <span>Hiện tại: <a href="{{api_domain}}{{game.image}}" target="_blank">{{game.image}}</a></span>
            </p>
            <p *ngIf="game.image" class="clear_image">
                <input type="checkbox" formControlName="is_clear_image"/> Xóa
            </p>
            <p *ngIf="msg_clear_image" class="error_msg">{{msg_clear_image}}</p>
            <input type="file" accept="image/*"
            (change)="onFileChange($event)" #inputImage/>
            <ul class="error_valid" 
                *ngIf="formGame.get('image') && formGame.get('image')?.errors">
                <li style="color: red" *ngIf="formGame.get('image').errors?.fomatFile">
                    Vui lòng tải tệp lên với các định dạng này (jpg, jpeg, png, ico, bmp)
                </li>
            </ul>
        </div>
    </div>

    <div class="form-group row noti-image">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Loại Trò Chơi</label>
        </div>
        <div class="col-sm-6" *ngIf="types">
            <select class="form-control" formControlName="game_type">
                <option value="">-- CHỌN LOẠI TRÒ CHƠI --</option>
                <option *ngFor="let type of types" 
                    value="{{ type.id }}"
                >
                {{ type.name }}</option>
            </select>
            <show-error-valid [control]="formGame.get('game_type')"></show-error-valid>
        </div>
    </div>

    <div class="form-group row noti-image">
        <div class="col-sm-2">
            <label class="col-form-label form-check-label">Is Draft</label>
        </div>
        <div class="col-sm-6">
            <input type="checkbox" formControlName="is_draft" />
        </div>
    </div>

    <hr/>
    <button class="btn btn-danger" (click)="deleteGameEvent()" *ngIf="game.id">
        XÓA
    </button>
    <button class="btn btn-primary pull-right" (click)="onSubmit()">
        LƯU LẠI
    </button>
</form>