.mt-50{
    margin-top: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.messsage{
    color: green;
}
.dels-post{
    margin-bottom: 50px;
}
.messsage_error{
    color: red;
}
.custom-title a {
	padding: 5px 0;
}
.filter-type-post {
    margin-bottom: 15px;
    padding-right: 0px;
    width: 160px;
}
.filter-type-post option:first-child{
    display:none;
}