<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bài Viết</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Bài Viết</p>
</div>
<div *ngIf="posts" >
    <div class="row mt-50 mb-15 custom-title">
        <div class="col-xs-12 col-sm-12">
            <a class="pull-right" [routerLink]="['/post/add/', {lang: 'vi'}]">
                <div class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    THÊM BÀI VIẾT
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-30 language">
        <div class="col-xs-12 col-sm-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-primary' : 'btn-info' }}"
                    (click)="changeLang('vi')"
                >VI</button>
                <button type="button" class="btn {{ lang === 'vi' ? 'btn-info' : 'btn-primary' }}"
                    (click)="changeLang('en')"
                >EN</button>
            </div> 
        </div>
    </div>
    <div *ngIf="postTypes" class="pull-right ">
        <select class="form-control filter-type-post" (change)="reloadDatatable()" [(ngModel)]="post_type" >
            <option [ngValue]="null" >Bộ lọc</option>
            <option [ngValue]="null" >Tất cả</option>
            <option *ngFor="let type of postTypes" [ngValue]="type.name" >{{type.name}}</option>
        </select>
    </div>

    <div class="custom_table">
        <table datatable class="row-border hover" id="table_id" dt-instance="dtInstanceCallback" [dtOptions]='dtOptions'>
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Bài Viết</span></th>
                    <th><span>Loại Bài Viết</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let post of posts">
                    <td><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                    <td>{{ post.id }}</td>
                    <td><a [routerLink]="['/post/edit/', post.id, {lang: lang, post_type: post_type}]">{{ post.name }}</a></td>
                    <td>{{ post.post_type ? post.post_type: null}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row dels-post">
        <div class="col-md-3">
            <select name="" class="form-control">
                <option value="1">Xóa các bài viết được chọn</option>
            </select>
        </div>
        <div class="col-md-3 dels-list">
            {{ length_selected }} của {{ length_all }} được chọn 
            <button class="btn btn-danger" (click)="deletePostEvent()">Thực hiện</button>
        </div>
    </div>
</div>