<ol class="breadcrumb">
	<li><a routerLink='/'>Trang Chủ</a></li>
	<li class="active">Phí Giao Dịch</li>
</ol>
<div class="row text-center">
	<p class="title">Phí Giao Dịch</p>
</div>
<div *ngIf="fees">
	<div class="row mt-30 mb-30 custom-title">
		<div class="col-xs-6 col-sm-6 pull-right">
			<a class="btn btn-primary pull-right" routerLink="/fee/add">
				<span class="glyphicon glyphicon-plus"></span>
				THÊM PHÍ GIAO DỊCH
			</a>
		</div>
	</div>
	<div class="wrapper-table">
		<table datatable [dtOptions]="dtOptions" id="table_id" class="row-border hover">
			<thead>
				<tr class="">
					<th id="th-checkall"><input id='select-all' type="checkbox" name="" (change)="selectAllEvent($event);"></th>
					<th><span>ID</span></th>
					<th><span>Phí</span></th>
					<th><span>Vị Trí</span></th>
					<th><span>&nbsp;&nbsp;</span></th>
				</tr>
			</thead>
			<tbody *ngIf="fees">
				<tr *ngFor="let fee of fees" id={{fee.id}} class="row-data">
					<td class="checkbox-tb">
						<input type="checkbox" name="{{fee.id}}" id='checkbox_{{fee.id}}'[value]=fee.id (change)="selectCheckbox($event);" >
					</td>
					<td>{{fee.id}}</td>
					<td *ngIf="fee.fee_type == '%'" class="fee-tb"><a routerLink="/fee/detail/{{ fee.id }}">{{fee.fee | number}} {{fee.fee_type}}</a></td>
					<td *ngIf="fee.fee_type == 'vnd'" class="fee-tb"><a routerLink="/fee/detail/{{ fee.id }}">{{fee.fee | number}} VNĐ</a></td>
					<td *ngIf="fee.position == 'deposit'" class="position-tb">Phí Nạp Tiền</td>
					<td *ngIf="fee.position == 'tickets'" class="position-tb">Phí Chuyển Ticket </td>
					
					<td *ngIf="fee.is_apply">
						<div (mouseover)="hoverIn(fee);" (mouseleave)="hoverOut(fee);" class="btn btn-success text-center" (click)="fee.isHover? cancel_apply_fee(fee.id): apply_fee(fee.id)" >
							<span *ngIf="fee.isHover">Hủy áp dụng phí</span>
							<span *ngIf="!fee.isHover" >Đang áp dụng phí</span>
						</div>
					</td>
					<td *ngIf="!fee.is_apply"><div class="btn btn-primary text-center" (click)="apply_fee(fee.id)">Áp dụng phí</div></td>
				</tr>
				<hr>
			</tbody>
		</table>
	</div>
	<div class='row under-table'>
		<div class="col-md-3">
			<select name="" class="form-control">
				<option value="">Xóa các phí giao dịch được chọn</option>
			</select>
		</div>
		<div class="col-md-3">
			{{length_selected}} của {{length_all}} được chọn
			<button type="button" class="btn btn-danger btn-delete-fee" (click)="confirm_delete();">Thực hiện</button>
		</div>
	</div>
</div>
