/*Begin content banner*/
.content-banner {
	margin: 15px 0px;
	border-bottom: 2px solid black;
	padding: 0 0 10px 0px;
}
.custom-table {
	margin-top: -10px;
}
a.pull-left {
	color: #333333;
}
a.pull-left:hover {
	text-decoration: none;
}
.button-banner {
	margin-left: 30px;
}