<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phản Hồi</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row text-center">
    <p class="title">Phản hồi</p>
</div>
<div *ngIf="feedbacks">
    <div class='row title-feedback'>
        <a class="pull-right" routerLink="/feedback/statistics">
            <div class="btn btn-primary">
                Thống kê phản hồi
            </div>
        </a>
    </div>
    <table datatable class="row-border hover" id="table_id" dt-instance="dtInstanceCallback" [dtOptions]='dtOptions'>
            <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" id="select-all" (change)="selectAllEvent($event);"/></th>
                    <th><span>ID</span></th>
                    <th><span>Phản Hồi</span> </th>
                    <th><span>Người Gửi</span></th>
                    <th><span>Ngày Nhận</span></th>
                    <th><span>Rating</span></th>
                    <th><span>Trạng Thái Xử Lý</span></th>
                    <th><span>Loại Phản Hồi</span></th>
                    <th><span>Ngày Xử Lý</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let feedback of feedbacks" [ngStyle]="{'font-weight': (feedbacks_is_read.indexOf(feedback.id)> -1) ? 'normal': 'bold'}">
                    <td><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                    <td [ngStyle]="{'display':'none'}">{{feedback.id}}</td>
                    <td><a routerLink="/feedback-detail/{{ feedback.id }}">{{ feedback.subject }}</a></td>
                    <td>{{ feedback.name }}</td>
                    <td><span class="hidden">{{ feedback.created |date: 'yyyyMMdd'}}</span>{{ feedback.created |date: 'dd/MM/yyyy'}}</td>
                    <td>{{ feedback.rate }}</td>
                    <td>{{ feedback.status }}</td>
                    <td>{{ feedback.feedback_type }}</td>
                    <td *ngIf="feedback.status == 'Chưa xử lý'"></td>
                    <td *ngIf="feedback.status !== 'Chưa xử lý'"><span class="hidden">{{ feedback.modified|date: 'yyyyMMdd' }}</span>{{ feedback.modified|date: 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    <div class='row area-feedback-footer' *ngIf="feedbacks">
    	<div class="col-md-3">
    		<select name="" class="form-control">
    			<option value="">Xóa các phản hồi được chọn</option>
    		</select>
    	</div>
    	<div class="col-md-3" *ngIf="feedbacks">
    		{{length_selected}} của {{length_all}} được chọn
    		<button (click)="confirmDelete()" type="button" class="button-feedback btn btn-danger">Thực hiện</button>
    	</div>
    </div>
</div>