.noti-image button{
    margin-top: 5px;
}
form label{
    margin-top: 8px;
}
form select.form-control{
    width: 40%;
}
form .event-date{
    width: 40%;
}
form .input-group{
    padding-right: 15px;
    padding-left: 15px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
form{
    margin-bottom: 100px;
}