<!-- Start breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a routerLink="/link-card-list">Thẻ Liên Kết</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Thẻ Liên Kết</li>
        </ol>
    </nav>
</div>
<!-- End breadcrumb -->
<div class="row card-link-success">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border title-link-card">
            <p class="title text-center">Chi Tiết Thẻ Liên Kết</p>
        </legend>
        <div class="col-xs-7 col-sm-7" *ngIf="user_app && user_embed">
            <form novalidate>
                <legend class="scheduler-border">THÔNG TIN TÀI KHOẢN HELIO APP</legend>
                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Họ Và Tên</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.full_name }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Email</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.email }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Số Điện Thoại</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.phone }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Ngày Sinh</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.birth_date }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Chứng Minh Nhân Dân</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.personal_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Địa Chỉ</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.address }}
                    </div>
                </div>

                <legend class="scheduler-border">THÔNG TIN THẺ HELIO EMBED</legend>
                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Card Barcode</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.barcode }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Tên Chủ Thẻ</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.full_name }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Email</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.email }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Số Điện Thoại</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.phone }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Ngày Sinh</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.birth_date }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Chứng Minh Nhân Dân</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.personal_id }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Địa Chỉ</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_embed.address }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Tài Khoản Thực Hiện Mapping</label>
                    </div>
                    <div class="col-sm-7">
                        {{ user_app.username_mapping }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-5 form-check">
                        <label class="col-form-label form-check-label">Thời Gian Mapping</label>
                    </div>
                    <div class="col-sm-7">
                        <i class="fa fa-calendar"></i> {{ user_app.date_mapping | date: 'dd/MM/yyyy' }} &ensp;&ensp;&ensp;
                        <i class="fa fa-clock-o"></i> {{ user_app.date_mapping | date: 'hh:mm' }}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-5 col-sm-5 custom-title">
            <div class="row pull-right">
                <a routerLink="/link-card/add" class="btn custom-button">
                    <i class="fa fas fa-plus icon-button"></i>
                    Thêm Thẻ Liên Kết
                </a>
            </div>
        </div>
    </fieldset>
</div>
<div class="row">
    <button class="btn btn-danger pull-right" (click)="deleteLinkCardEvent()">XÓA THẺ LIÊN KẾT</button>
</div>