.list-role{
  list-style-type: none;
  padding: 0px;
}
.wrap-head{
	width:150px;
	margin: 0 auto;
}
.page-name{
    font-size: 34px;
}
.title-row{
	height: 71px;
}
.btn-save{
	margin-left: 20px;
}
.permission-error{
	height:300px;
	text-align: center;
}
.permission-content{
	margin-bottom: 15px;
}
.wrapper-permission{
	padding-left: 15px;
}