<ol class="breadcrumb">
    <li><a routerLink='/'>Trang Chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phân Quyền Cho User</li>
 </ol>
<div class="row text-center">
    <p class="title">PHÂN QUYỀN CHO USER</p>
</div>
<div *ngIf="user_current?.role == SYSTEM_ADMIN ">
    <div class="wrapper-permission" id="hidden-content-permission">
        <div class="row permission-content">
            <div class="wrap-head">
                <h4>Các quyền</h4>
                <ul *ngFor="let role of roles; let i = index;"  class="list-role" >
                    <li>
                        <input class="role_checkbox" type="radio" name="role" id='role_{{role.id}}' value='{{role.id}}'  [checked]="i == 0" (change)='getUserListByRole( role.id )'>
                        <label for="role_{{role.id}}">{{role.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <app-user-multiselect 
            [user_list_left]="user_list_left" 
            [user_list_right]="user_list_right" 
            (save)="setRoleForUser($event)"
            >
        </app-user-multiselect>
    </div>
</div>